/**********************************/
/********** General CSS ***********/
/**********************************/
body {
  color: #353535;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: #ffffff;
}

a {
  color: #f3bfbf;
}

a:hover,
a:active,
a:focus {
  color: #353535;
  outline: none;
  text-decoration: none;
}

h1 {
  font-family: "Source Code Pro", monospace;
  font-weight: 900;
}

h2 {
  font-family: "Source Code Pro", monospace;
  font-weight: 700;
}

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 60px;
    padding-left: 60px;
  }
}

/**********************************/
/******** Back to Top CSS *********/
/**********************************/
.back-to-top {
  position: fixed;
  display: none;
  background: #ecb3ae;
  color: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 4px;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #ffffff;
}

/**********************************/
/********* Form Input CSS *********/
/**********************************/
.form-control,
.custom-select {
  width: 100%;
  height: 35px;
  padding: 0 15px;
  color: #999999;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
}

.form-control:focus,
.custom-select:focus {
  box-shadow: none;
  border-color: #ecb3ae;
}

.custom-radio,
.custom-checkbox {
  margin-bottom: 15px;
}

.custom-radio .custom-control-label::before,
.custom-checkbox .custom-control-label::before {
  background: #dddddd;
  border-color: #dddddd;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before,
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  color: #ffffff;
  background: #ecb3ae;
  border-color: #ecb3ae;
  box-shadow: none;
}

.btn {
  color: #ecb3ae;
  background: #ffffff;
  border: 1px solid #ecb3ae;
}

.btn:hover,
.btn:active,
.btn:focus {
  color: #ffffff;
  background: #ecb3ae;
  box-shadow: none;
}

/**********************************/
/******* Normal Slider CSS ********/
/**********************************/
.normal-slider .slick-prev,
.normal-slider .slick-next {
  width: 40px;
  height: 40px;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  background: rgba(255, 111, 97, 0.7);
  border-radius: 4px;
}

.normal-slider .slick-prev {
  left: 55px;
}

.normal-slider .slick-next {
  right: 55px;
}

.normal-slider.slick-slider:hover .slick-prev {
  left: 15px;
  opacity: 1;
}

.normal-slider.slick-slider:hover .slick-next {
  right: 15px;
  opacity: 1;
}

.normal-slider .slick-prev:hover,
.normal-slider .slick-prev:focus,
.normal-slider .slick-next:hover,
.normal-slider .slick-next:focus {
  background: rgba(0, 0, 0, 0.7);
}

.normal-slider .slick-prev:hover::before,
.normal-slider .slick-prev:focus::before,
.normal-slider .slick-next:hover::before,
.normal-slider .slick-next:focus::before {
  color: #ecb3ae;
}

.normal-slider .slick-prev::before,
.normal-slider .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 30px;
  color: #ffffff;
}

.normal-slider .slick-prev::before {
  content: "\f104";
}

.normal-slider .slick-next::before {
  content: "\f105";
}

.normal-slider .slick-dots {
  bottom: 15px;
}

.normal-slider .slick-dots li button:before {
  color: #ffffff;
  font-size: 15px;
}

.normal-slider .slick-dots li.slick-active button:before {
  color: #ecb3ae;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
  padding: 3px 0;
  font-size: 14px;
  color: #ecb3ae;
  background: #000000;
}

.top-bar i {
  margin-right: 5px;
}

.top-bar .col-sm-6:first-child {
  text-align: left;
}

.top-bar .col-sm-6:last-child {
  text-align: right;
}

@media (max-width: 575.98px) {
  .top-bar {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  }

  .top-bar .col-sm-6:first-child,
  .top-bar .col-sm-6:last-child {
    text-align: center;
  }
}

/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav {
  position: relative;
}

@media (min-width: 992px) {
  .nav .container-fluid {
    padding-left: 52px;
    padding-right: 52px;
  }
}

.nav .navbar {
  height: 100%;
  padding: 0;
}

.nav .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #ecb3ae;
}

.nav .dropdown-menu a.active {
  color: #353535;
  background: #f8f9fa;
}

@media (min-width: 768px) {
  .nav,
  .nav .navbar {
    background: #ecb3ae !important;
  }

  .nav .navbar-brand {
    display: none;
  }

  .nav .navbar-dark a.nav-link {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }

  .nav .navbar-dark a.nav-link:hover,
  .nav .navbar-dark a.nav-link.active {
    color: #000000;
  }
}

@media (max-width: 768px) {
  .nav {
    padding: 5px 0;
  }

  .nav,
  .nav .navbar {
    background: #000000 !important;
  }

  .nav a.nav-link {
    padding: 5px 0;
  }

  .nav .dropdown-menu {
    box-shadow: none;
  }
}

/**********************************/
/********* Bottom Bar CSS *********/
/**********************************/
.bottom-bar {
  padding: 15px 0;
  background: #ffffff;
  margin-bottom: 30px;
}

.bottom-bar .logo {
  text-align: left;
  overflow: hidden;
}

.bottom-bar .logo a img {
  max-height: 60px;
}

.bottom-bar .search {
  width: 100%;
}

.bottom-bar .search input[type="text"] {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  color: #666666;
  border: 1px solid #ecb3ae;
  border-radius: 4px;
}

.bottom-bar .search button {
  position: absolute;
  width: 40px;
  height: 38px;
  top: 1px;
  right: 16px;
  padding: 0 15px;
  border: none;
  background: none;
  color: #ecb3ae;
  border-radius: 0 2px 2px 0;
}

.bottom-bar .search button:hover {
  background: #ecb3ae;
  color: #ffffff;
}

.bottom-bar .user {
  font-size: 0;
  text-align: right;
}

.bottom-bar .user .wishlist {
  margin-right: 15px;
}

.bottom-bar .user .cart i,
.bottom-bar .user .wishlist i {
  color: #ecb3ae;
}

.bottom-bar .user .cart span,
.bottom-bar .user .wishlist span {
  color: #ecb3ae;
  font-size: 15px;
}

.bottom-bar .user .cart:hover i,
.bottom-bar .user .wishlist:hover i,
.bottom-bar .user .cart:hover span,
.bottom-bar .user .wishlist:hover span {
  color: #ffffff;
}

@media (min-width: 768px) {
  .bottom-bar {
    max-height: 90px;
  }
}

@media (max-width: 767.98px) {
  .bottom-bar .logo,
  .bottom-bar .search,
  .bottom-bar .user {
    text-align: center;
    margin-bottom: 15px;
  }

  .bottom-bar .user {
    margin-bottom: 0;
  }
}

/**********************************/
/*********** Header CSS ***********/
/**********************************/
.carousel-inner img {
  width: 100%;
  height: 100%;
}

.carousel-control-next,
    .carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

.carousel-indicators li {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  text-indent: 0;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.carousel-indicators .active {
  width: 20px;
  height: 20px;
  margin: 10px;
  background-color: #ffffff;
}
/**********************************/
/********** Footer CSS ************/
/**********************************/
.footer {
  position: relative;
  padding: 30px 0 0 0;
  background: #ffffff;
}

.footer .footer-widget {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
}

.footer .footer-widget h2 {
  font-size: 25px;
  white-space: nowrap;
  margin-bottom: 20px;
}

.footer .footer-widget ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .footer-widget ul li {
  margin-bottom: 12px;
}

.footer .footer-widget ul li:last-child {
  margin-bottom: 0;
}

.footer .footer-widget ul li a {
  color: #353535;
  white-space: nowrap;
  display: block;
  line-height: 23px;
  transition: all 0.3s;
}

.footer .footer-widget ul li a::before {
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  padding-right: 5px;
}

.footer .footer-widget ul li a:hover {
  color: #ecb3ae;
}

.footer .footer-widget ul li a:hover::before {
  content: "\f101";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

.footer .contact-info p {
  margin-bottom: 10px;
  font-size: 16px;
}

.footer .contact-info p i {
  margin-right: 5px;
}

.footer .social {
  position: relative;
  width: 100%;
}

.footer .social a {
  display: inline-block;
  margin: 10px 5px 0 0;
  width: 40px;
  height: 40px;
  padding: 6px 0;
  text-align: center;
  font-size: 18px;
  color: #353535;
  border: 1px solid #353535;
  border-radius: 4px;
  transition: all 0.3s;
}

.footer .social a:hover {
  color: #ecb3ae;
  border-color: #ecb3ae;
}

.footer .payment {
  padding-top: 25px;
  padding-bottom: 25px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media (min-width: 992px) {
  .footer .payment {
    max-width: 80%;
    margin: 0 auto;
  }
}

.footer .payment-method,
.footer .payment-security {
  overflow: hidden;
}

.footer .payment-method {
  text-align: left;
}

.footer .payment-security {
  text-align: right;
}

@media (max-width: 768.98px) {
  .footer .payment-method {
    margin-bottom: 15px;
  }

  .footer .payment-method,
  .footer .payment-security {
    text-align: center;
  }
}

.footer .payment-method h2,
.footer .payment-security h2 {
  display: inline-block;
  margin: 0 10px 0 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
}

.footer .payment-method img,
.footer .payment-security img {
  height: 25px;
}

/**********************************/
/******** Footer Bottom CSS *******/
/**********************************/
.footer-bottom {
  position: relative;
  padding: 25px 0;
  background: #000000;
}

.footer-bottom .copyright {
  text-align: left;
}

.footer-bottom .template-by {
  text-align: right;
}

.footer-bottom .copyright p,
.footer-bottom .template-by p {
  color: #ffffff;
  font-weight: 400;
  margin: 0;
}

.footer-bottom .copyright p a,
.footer-bottom .template-by p a {
  font-weight: 600;
}

.footer-bottom .copyright p a:hover,
.footer-bottom .template-by p a:hover {
  color: #ffffff;
}

@media (max-width: 768.98px) {
  .footer-bottom .copyright,
  .footer-bottom .template-by {
    text-align: center;
  }
}

/**********************************/
/************ about us ************/
/**********************************/

#rcorners4 {
  border-radius: 25px;
  background: #f0e6ff;
}

* {
  box-sizing: border-box;
}

/* Full-width input fields */
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .signupbtn {
    width: 100%;
  }
}
